h1 {
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.author {
    color: gray;
}

.link_author {
    color: lightblue;
    text-decoration: none;
    font-weight: bold;
}

.paragraph_3 {
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

