.container-principal {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
    padding: 20px;
}

.container {
    width: 100px;
    height: 100px;
    background-color: grey;
    position: absolute;
    z-index: 3;

}

.box-one {
    width: 60px;
    height: 60px;
    background-color: red;
    z-index: 2;
    position: absolute;

}

.box-two {
    width: 30px;
    height: 30px;
    background-color: green;
    z-index: 2;
    position: absolute;
    right: 0;
    bottom: 0;

}

.container-two {
    width: 100px;
    height: 100px;
    background-color: grey;
    position: absolute;
    z-index: 3;
}



