.progress-bar {
  width: 500px;
  height: 100px;
  background-color: #b32f2f;
  border-radius: 55px;
  overflow: hidden;
}

.progress-bar-10 {
    width: 10%;
    height: 100%;
    background-color: #f0a500;
    border-radius: 55px;
}
