.fruit_1 {
    color: green;
}

.fruit_2 {
    color: greenyellow;
}

.fruit_3 {
    color: orangered;
}

.fruit_4 {
    color: purple;
}

.fruit_5 {
    color: peachpuff;
}

.fruit_6 {
    color:lightgreen
}

.fruit_7 {
    color: burlywood;
}

.fruit_8 {
    color: purple;
}

.fruit_9 {
    color: forestgreen;
}

.fruit_10 {
    color: red;
}